.about {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px 0 100px;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
}

.aboutContainer {
    max-width: 1100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: white;
}

.title {
    font-size: 3rem;
    color: var(--primary);
    margin: 0 0 30px;
}

.leftContainer {
    border: 4px solid whitesmoke;
    border-right: 0px;
    height: 100%;
    width: 100%;
}

.rightContainer {
    border: 4px solid whitesmoke;
    height: 100%;
    width: 100%;
}

.details {
    text-align: start;
    padding: 30px;
    border-bottom: 2px solid whitesmoke;
    display: flex;
}

.details p {
    margin: 0;
}


.description {
    max-width: 700px;
    padding: 30px;
    font-size: 1.1rem;
    text-align: start;
    border-radius: 2px solid whitesmoke;
}

.skills {
    width: 100%;
    max-width: 700px;
    text-align: center;
    border-top: 2px solid whitesmoke;
}

.skills h2 {
    color: var(--primary);

}

.image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.imageContainer {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.languagesContainer {
    display: flex;
    align-items: center;
}

.languages {
    width: 80px;
}

.languages p {
    margin: 0;
}

.paw {
    color: gray;
    transform: rotate(25deg) translate(0, 4px);
}

@media only screen and (max-width: 900px) {
	.aboutContainer {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .leftContainer {
        border:  none;
    }

    .rightContainer {
        border: none;
    }

    .details {
        flex-direction: column-reverse;
    }
}