.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.about {
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    padding: 0 10px;
}

.profile {
    border-radius: 9999px;
}

.about p {
    text-align: start;
}

.about h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

.contact {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 700px;
    width: 100%;
    padding: 0 10px;
}

.contact input {
    border: none;
    background-color: rgb(243, 243, 243);
}

.contact textarea {
    border: none;
    background-color:rgb(243, 243, 243) ;
}

.contact input:focus {
    outline: none;
}

.contact textarea:focus {
    outline: none;
}

.buttonContainer {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}