.header {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-size: 1.3rem;
}

.textContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0 30px;
}

.name {
	color: var(--primary);
	font-size: 7rem;
	margin: 0;
	line-height: 7rem;
}

.intro {
	display: flex;
	width: 75px;
	justify-content: center;
}

.description {
	margin: 10px;
}

.intro p {
	margin: 0 2px;
}

.sub {
	color: var(--primary);
}

.downArrowContainer {
	position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (max-width: 500px) {
	.name {
		font-size: 4rem;
	}
	.header {
		font-size: 1rem;
	}
}