.projects {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	color: var(--primary);
}

.projectsContainer {
	max-width: 1300px;
	z-index: 10;
}

.title{
	text-align: end;
}

.title h1 {
	margin: 0;
	font-size: 2.5rem;
}
.title p {
	margin-top: 0;
	font-size: 1.1rem;
	color: var(--tertiary);
}

.projectSection {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.theOthers {
	width: 100%;
	position: relative;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* .theOthers::before {
	content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: skewy(-4deg);
    transform-origin: 50% 0;
    outline: 1px solid transparent;
    backface-visibility: hidden;
    background-image: linear-gradient(-135deg, var(--primary), rgb(72, 72, 102));
} */

.other {
	position: relative;
	color: var(--tertiary);
	text-align: center;
}

.gridContainer {
	display: grid;
	position: relative;
	align-items: center;
	justify-content: center;
	max-width: 1300px;
	width: 100%;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, 300px);
	margin: 0 50px;
}

.gridItem {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease;
}
