.name {
    margin-bottom: 0;
}

.sub {
    font-size: 1rem;
    margin-top: 0;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 700px;
}

.image {
    border-radius: 50%;
}

.imageContainer {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.info p {
    margin: 2px 0;
}

.social {
    margin: 15px 0;
}