.ballBounce {
	width: 25px;
	height: 25px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	animation: bounce 1.5s infinite;
	z-index: 1;
	color:rgb(255, 153, 0);
}

.ballContainer {
	position: absolute;
	left: 50%;
	bottom: 50px;
	width: 40px;
	height: 80px;
	transform: translate(-50%, 0);
	border-radius: 25px;
	border: gray solid 2px;
	animation: reveal 4.5s;
}

@keyframes bounce {
	0% {
		top: 10px;
	}
	50% {
		top: 45px;
	}
	100% {
		top: 10px;
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}