.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(90px, 1fr));
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.item p {
    margin: 0;
    font-size: .8rem;
}