.svgText {
    stroke: #4d8cd4;
    font-size: 1.2rem;
    font-weight: 400;
    stroke-width: 1;
    animation: textAnimate 5s ease infinite alternate;
    animation: fillText 5s infinite alternate 4.5s;
}

@keyframes textAnimate {
    0%{
        stroke-dasharray: 0 50%;
    }
    100%{
        stroke-dasharray: 50% 0;
    }
}

@keyframes fillText {
    0%{
        fill: transparent;
    }
    100%{
        fill: #4d8cd4;
    }
}